.health-bar {
    --w: 200px;
    --color: linear-gradient(90deg, #ff6161, #1ecd1e) 0/var(--w);
    --background: lightgrey;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: var(--w);
    margin: 0 10px;
    border-radius: 10em;
    background: var(--color);
}
