:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    text-shadow: 1px 1px 2px #f6f6f6;
    background-color: #f6f6f6;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.container {
    margin: 0;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main-layout {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
}

.main-layout>div {
    flex: 1;
    height: calc(100vh - 6em);
    overflow-y: scroll;
    text-align: justify;
    margin: 0 5px;
}

#combatants {
    font-size: calc(1.5vh + 2vw);
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px 15px;
}

#combatants td {
    border: 1px solid #cd0000;
    border-radius: 0.5em;
}

.browse {
    width: 20em;
}

#statblock-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tracker-participant {
    justify-content: space-evenly;
    border: 3px solid #252525;
    border-radius: 10px;
    margin: 2.5px 0;
}

.trait-chip {
    background-color: #531004;
    border-color: #d5c489;
    border-style: double;
    border-width: 2px;
    margin: 0.1em 0;
    padding: 0 5px;
}

.size-trait {
    background-color: #478c42;
}

.uncommon-trait {
    background-color: #c45500;
}

.rare-trait {
    background-color: #0c1466;
}

.unique-trait {
    background-color: #800080;
}

.add-button {
    border: 2px solid #2d4059;
    border-radius: 4px;
    padding: 0.3em;
    cursor: pointer;
}

.level {
    text-align: center;
    width: 1.3em;
    height: 1.1em;
    padding: 0.2em;
    vertical-align: middle;
}

#filter-text {
    flex: 1;
    margin-right: 5px;
    min-width: 0;
}

#filter-by {
    flex: 0;
}

.condition {
    width: auto;
    height: 30px;
}

.condition-value {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #cd0000;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.current-combatant {
    background-color: #756060;
}

h1 {
    text-align: center;
}

input,
button,
select {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #0f0f0f;
    background-color: #ffffff;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
    cursor: pointer;
}

button:hover {
    border-color: #396cd8;
}

button:active {
    border-color: #396cd8;
    background-color: #e8e8e8;
}

input,
button,
select {
    outline: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #f6f6f6;
        text-shadow: 1px 1px 2px #2f2f2f;
        background-color: #2f2f2f;
    }

    input,
    button,
    select {
        color: #ffffff;
        background-color: #0f0f0f98;
    }

    button:active {
        background-color: #0f0f0f69;
    }
}